* {
  color: white;
}
#play-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  border-radius: 1rem;
  width: 100%;
  height: 5rem;
  background-color: none;
}
#top {
  width: calc(100% - 4rem);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* #current-time {
  width: 16rem;
} */