#frame {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  background-color: black;
  border: none;
  margin: none;
}
#left-bar {
  margin: 0.5rem;
  margin-right: 0px;
  border: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 30%;
}
#middle-bar {
  display: flex;
  flex-direction: column-reverse;
  margin: 0.5rem;
  box-sizing: border-box;
  width: auto;
  flex-grow: 1;
}
#albums-tab {
  flex-grow: 1;
  height: 80%;
}
