#banner {
  font-size: 2rem;
  width: 12rem;
  text-align: center;
  display: inline-block;
  border: none;
  color : green;
  font-weight: bold;
}

#banner-container {
  width: auto;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}