#song-index {
    color: gray;
    width: 2rem;
}
#song-container {
    margin-left: 0.25rem;
    padding: 0.25rem;
    padding-left: 0.5rem;
}
#song-container:hover {
    background-color: rgba(120, 120, 120, 0.49);
}