#banner {
  width: auto;
  font-weight: bolder;
  letter-spacing: 2rem;
  font-size: 3rem;
  
  margin-left: 2rem;

  text-align: center;
  display: inline-block;
  border: none;
  color : green;
  font-weight: bold;

  background: linear-gradient(to right, #4abd87, #263a25); /* Horizontal gradient */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#banner-container {

  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: none;
}